body {
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    margin: auto;
    display: grid;
    grid-template-columns: 400px 200px auto;
    column-gap: 20px;
}

.row {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}

.bar {
    height: 30px;
}


/* #file-input {
    display: none;
} */

/* Custom style for the label */
input[type="file"] {
    display: none;
}

label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

label:hover {
    background-color: #0056b3;
}

/* Optional styling for file name display */
/* #file-name {
    margin-top: 10px;
    font-style: italic;
} */

.class_1 {
    background-color: red;
}

.class_2 {
    background-color: orange;
}

.class_3 {
    background-color: yellow;
}

.class_4 {
    background-color: green;
}

.class_5 {
    background-color: blue;
}